<body ng-app="Unify">        
        <navigation></navigation>
        <div class="top">
            <search></search>
            <div class="right"><a class="logout color-anim" href="">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a></div>
        </div>               
        <div class="content">
            <ng-view></ng-view>                       
        </div>

        <environment names="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>            
            <script src="~/lib/angular/angular.js"></script>
            <script src="~/lib/angular-route/angular-route.js"></script>
            <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/app.js" asp-append-version="true"></script>
        </environment>
        <environment names="Staging,Production">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/angular/angular.min.js"></script>
            <script src="~/lib/angular-route/angular-route.min.js"></script>
            <script src="~/lib/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
            <script src="~/js/app.min.js" asp-append-version="true"></script>
        </environment>        
</body>

